.addIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  color: black;
  background-color: white;
}

.addItem {
  width: 100%;
  margin-left: -26px;
  padding: 10px 60px;
  text-align: center;
}